html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Fira-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 14px;
  line-height: 1.5;
  color: #f2f2f2;
  background-color: #141518;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#app {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#app > .image-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 48%;
  margin: 5px;
  background-color: #f2f2f2;
  border-radius: 3px;;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

#app > .image-container > img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in;

}

#app > .image-container:hover > img {
  transform: scale(1.2);
}

#app > .image-container > .user {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.3s ease-in;
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  bottom: 0;
}

#app > .image-container:hover > .user {
  opacity: 1;
  background: rgba(0, 0, 0, 0.66);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66));
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66));
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.66));
}

#app > .image-container > .user > p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4;
  text-shadow: 0px 1px 15px rgba(0,0,0,0.1);
}

#app > .image-container > .user > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.1);
  image-rendering: auto;
}


@media (max-width: 1000px) {
  #app > .image-container {
    height: 150px;
    width: 45%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  #app > .image-container {
    height: 200px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  #app > .image-container {
    height: 100px;
  }
}
