.navbar-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #34373c;
  color: #fff;
  height: 50px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.navbar-container > .logo {
  margin: 0;
  /*margin-left: 50px;*/
  margin-left: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-container > .logo:hover {
  color: #ddd;
}

.navbar-container > .search-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  /*margin-right: 50px;*/
  margin-right: 10%;
}

.navbar-container > .search-container > span {
  margin-right: 5px;
  font-size: 16px;
}

.navbar-container > .search-container > form > input {
  border-radius: 3px;;
  font-size: 16px;
  border: none;
  padding: 5px;
}

@media (min-width: 1000px) {
  .navbar-container > .logo {
    margin-left: 20%;
  }

  .navbar-container > .search-container {
    margin-right: 20%;
  }
}
@media (max-width: 800px) {
  .navbar-container > .logo {
    margin-left: 10px;
  }

  .navbar-container > .search-container {
    margin-right: 10px;
  }
}
