html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Fira-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 14px;
  line-height: 1.5;
  color: #f2f2f2;
  background-color: #141518;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#app {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#app > .image-container {
  width: 80%;
  height: auto;
  transition: all 0.3s ease-in;
}

#app > .image-container > .user {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#app > .image-container > .user > img {
  border-radius: 50%;
  margin: 5px;
  width: 50px;
  image-rendering: auto;
}

#app > .image-container > .image {
  width: 100%;
  height: auto;
  image-rendering: auto;
}

#app > .image-container > .tag-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: auto;
}

#app > .image-container > .tag-container > .tag {
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

#app > .image-container > .tag-container > .tag:hover {
  color: grey;
  border: 1px solid grey;
}

/* Form Container */
#app > .form-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #34373c;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s ease-in;
  text-align: center;
}

#app > .form-container > h2 {
  line-height: 1;
  margin: 10px;
}

#app > .form-container > form {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 90%;
  position: relative;
}

#app > .form-container > form > input {
  border-radius: 3px;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 2.5px;
}

#app > .form-container > form > textarea {
  border-radius: 3px;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 2.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  resize: vertical;
}

#app > .form-container > form > button {
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#app > .form-container > form > button:hover {
  opacity: 0.9;
}
/* Form Container End*/

/* Comments Container */
#app > .comments-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  color: white;
  border-radius: 6px;
  transition: all 0.3s ease-in;
  position: relative;
}

#app > .comments-container > .comment {
  width: 100%;
  margin-bottom: 10px;
  background-color: #34373c;
  padding: 10px;
  border-radius: 6px;
}

#app > .comments-container > .comment > .name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 18px;
}

#app > .comments-container > .comment > .message {
  width: 100%;
  white-space: pre-wrap;
}

#app > .comments-container > .comment > .bottom-row {

}

#app > .comments-container > .comment > .bottom-row > .edit {
  cursor: pointer;
  color: grey;
}

#app > .comments-container > .comment > .bottom-row > .edit:hover {
  filter: contrast(150%);
}

#app > .comments-container > .comment > .bottom-row > .delete {
  cursor: pointer;
  color: grey;
  margin-left: 10px;
}

#app > .comments-container > .comment > .bottom-row > .delete:hover {
  filter: contrast(150%);
}

/* Edit Form */
#app > .comments-container > .comment > .edit-form {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#app > .comments-container > .comment > .edit-form > input {
  border-radius: 3px;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 2.5px;
}

#app > .comments-container > .comment > .edit-form > textarea {
  border-radius: 3px;
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  resize: vertical;
}

#app > .comments-container > .comment > .edit-form > button {
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* Comments Container End */

@media (min-width: 1001px) {
  #app > .image-container, #app > .form-container, #app > .comments-container {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  #app > .image-container, #app > .form-container, #app > .comments-container {
    width: 80%;
  }
}
@media (max-width: 800px) {
  #app > .image-container, #app > .form-container, #app > .comments-container {
    width: 100%;
  }
}
